<h1>{{title}}</h1>

<div class="container mt-5">
  <form>
    Número 1: <input type="number" [(ngModel)]="number1" name="number1"><br/><br/>
    Número 2: <input type="number" [(ngModel)]="number2" name="number2"><br/><br/>

    <div class="mt-3">
      <input class="btn btn-primary mx-2" type="submit" value="+" (click)="addition()">
      <input class="btn btn-primary mx-2" type="submit" value="-" (click)="substraction()">
      <input class="btn btn-primary mx-2" type="submit" value="/" (click)="division()">
      <input class="btn btn-primary mx-2" type="submit" value="*" (click)="multiplication()">
    </div>
  </form>
</div>
<div class="container mt-5">
  <p class="mt-5" *ngIf="error==''"> Resultado: {{result}}</p>
  <p class="mt-5" *ngIf="error!=''"> {{error}} </p>
</div>